<!--<div class="table-container">
    <table>
      <thead>  
        <tr>
          <th>Désignation</th>
          <th>Prix (USD)</th>
          <th>Quantité</th>
          <th>Totale (USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detailsPanier">
          <td>{{ item.product.description }}</td>
          <td class="price">{{ item.product.prix }}</td>
          <td class="quantity-input">{{ item.quantite }}</td>
          <td class="total">{{ item.quantite * item.product.prix}}</td>
        </tr>
        <tr class="total-row">
          <td colspan="3" style="text-align: right;">Total :</td>
          <td>{{totalPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  -->
  <div class="table-container">
    <table mat-table [dataSource]="detailsPanier" class="mat-elevation-z8">
  
      <!-- Désignation Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Désignation </th>
        <td mat-cell *matCellDef="let item"> {{ item.product.description }} </td>
      </ng-container>
  
      <!-- Prix Column -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix (USD) </th>
        <td mat-cell *matCellDef="let item" class="price"> {{ item.product.prix }} </td>
      </ng-container>
  
      <!-- Quantité Column -->
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let item" class="quantity-input"> {{ item.quantite }} </td>
      </ng-container>
  
      <!-- Totale Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Totale (USD) </th>
        <td mat-cell *matCellDef="let item" class="total"> {{ item.quantite * item.product.prix }} </td>
      </ng-container>
  
      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <!-- Data Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Total Row -->
      <tr class="total-row">
        <td colspan="3" style="text-align: right;">Total :</td>
        <td>{{ getTotalPrice() }}</td>
      </tr>
  
    </table>
  </div>